## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hamilton,US,39.1834,-84.5333,55.40,91,90,1.01,overcast clouds
1,1,Broome,US,42.2506,-75.8330,43.20,87,90,1.01,overcast clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,33.46,80,75,11.50,light snow
3,3,Husavik,IS,66.0449,-17.3389,28.31,96,100,2.95,overcast clouds
4,4,Fallon,US,39.4735,-118.7774,52.29,75,90,0.00,overcast clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) & (city_data_df["Max Temp"]>=min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Sambava,MG,-14.2667,50.1667,77.02,87,86,4.52,overcast clouds
10,10,Bengkulu,ID,-3.8004,102.2655,78.44,83,99,2.93,overcast clouds
15,15,Pochutla,MX,15.7432,-96.4661,74.82,89,73,3.83,broken clouds
16,16,Busselton,AU,-33.6500,115.3333,76.05,59,100,7.87,overcast clouds
17,17,Rikitea,PF,-23.1203,-134.9692,75.06,79,100,19.42,overcast clouds
18,18,Midland,US,31.9974,-102.0779,74.68,57,1,10.36,clear sky
19,19,Arraial Do Cabo,BR,-22.9661,-42.0278,71.08,90,24,29.73,few clouds
21,21,Alofi,NU,-19.0595,-169.9187,78.69,53,99,16.11,overcast clouds
23,23,Namalenga,TZ,-10.9500,39.1000,71.96,80,33,3.18,scattered clouds
24,24,Avarua,CK,-21.2078,-159.7750,73.45,53,90,6.91,haze

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                263
City                   263
Country                263
Lat                    263
Lng                    263
Max Temp               263
Humidity               263
Cloudiness             263
Wind Speed             263
Current Description    263
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#performed in step 3 above

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Sambava,MG,77.02,overcast clouds,-14.2667,50.1667,
10,Bengkulu,ID,78.44,overcast clouds,-3.8004,102.2655,
15,Pochutla,MX,74.82,broken clouds,15.7432,-96.4661,
16,Busselton,AU,76.05,overcast clouds,-33.6500,115.3333,
17,Rikitea,PF,75.06,overcast clouds,-23.1203,-134.9692,
18,Midland,US,74.68,clear sky,31.9974,-102.0779,
19,Arraial Do Cabo,BR,71.08,few clouds,-22.9661,-42.0278,
21,Alofi,NU,78.69,overcast clouds,-19.0595,-169.9187,
23,Namalenga,TZ,71.96,scattered clouds,-10.9500,39.1000,
24,Avarua,CK,73.45,haze,-21.2078,-159.7750,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
     # 6c. Get latitude and longitude from DataFrame
    lat=row["Lat"]
    lng=row["Lng"]
    
    #Add lat and long to location key for params
    params["location"]=f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels=requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"]=hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")
           
hotel_df.head(10)

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Sambava,MG,77.02,overcast clouds,-14.2667,50.1667,Melrose
10,Bengkulu,ID,78.44,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
15,Pochutla,MX,74.82,broken clouds,15.7432,-96.4661,Hotel Posada San Jose
16,Busselton,AU,76.05,overcast clouds,-33.6500,115.3333,Observatory Guest House
17,Rikitea,PF,75.06,overcast clouds,-23.1203,-134.9692,People ThankYou
18,Midland,US,74.68,clear sky,31.9974,-102.0779,DoubleTree by Hilton Hotel Midland Plaza
19,Arraial Do Cabo,BR,71.08,few clouds,-22.9661,-42.0278,Pousada Porto Praia
21,Alofi,NU,78.69,overcast clouds,-19.0595,-169.9187,Taloa Heights
23,Namalenga,TZ,71.96,scattered clouds,-10.9500,39.1000,
24,Avarua,CK,73.45,haze,-21.2078,-159.7750,Paradise Inn

In [12]:
#check counts
hotel_df.count()

# 7. Drop the rows where there is no Hotel Name.
#performed in step 6f above try...except

City                   263
Country                263
Max Temp               263
Current Description    263
Lat                    263
Lng                    263
Hotel Name             263
dtype: int64

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map. 

# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign marker
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)

# Add the layers
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))