## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Sambava,MG,77.02,overcast clouds,-14.2667,50.1667,Melrose
1,10,Bengkulu,ID,78.44,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
2,15,Pochutla,MX,74.82,broken clouds,15.7432,-96.4661,Hotel Posada San Jose
3,16,Busselton,AU,76.05,overcast clouds,-33.6500,115.3333,Observatory Guest House
4,17,Rikitea,PF,75.06,overcast clouds,-23.1203,-134.9692,People ThankYou

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign marker
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)

# Add the layers
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = pd.DataFrame(vacation_df.loc[(vacation_df["Country"]=="MU") & (vacation_df["City"]=="Souillac")])
vacation_end = pd.DataFrame(vacation_df.loc[(vacation_df["Country"]=="MU") & (vacation_df["City"]=="Souillac")])
vacation_stop1 = pd.DataFrame(vacation_df.loc[(vacation_df["Country"]=="MU") & (vacation_df["City"]=="Mahebourg")])
vacation_stop2 = pd.DataFrame(vacation_df.loc[(vacation_df["Country"]=="MU") & (vacation_df["City"]=="Bambous Virieux")])
vacation_stop3 = pd.DataFrame(vacation_df.loc[(vacation_df["Country"]=="MU") & (vacation_df["City"]=="Quatre Cocos")])
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
217,562,Quatre Cocos,MU,78.1,overcast clouds,-20.2078,57.7625,Sunrise Attitude Hotel

In [6]:
DataFrameType = type(vacation_start)
DataFrameType

pandas.core.frame.DataFrame

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
import numpy as np         
#start = (-20.5167,57.5167)
#stop1 = (-20.4081,57.7)
#stop2 = (-20.3428,57.7575)
#stop3 = (-20.2078,57.7625)
#end = (-20.5167,57.5167)

start = vacation_start[["Lat","Lng"]].to_numpy().flatten()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy().flatten()
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy().flatten()
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy().flatten()
end = vacation_end[["Lat","Lng"]].to_numpy().flatten()

stop3

array([-20.2078,  57.7625])

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig=gmaps.figure()
trip=gmaps.directions_layer(start,
                            end,
                            waypoints=[stop1,stop2, stop3],
                            travel_mode='DRIVING')
fig.add_layer(trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,60,Souillac,MU,78.37,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
1,155,Mahebourg,MU,78.26,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
2,153,Bambous Virieux,MU,78.22,scattered clouds,-20.3428,57.7575,Casa Tia Villa
3,562,Quatre Cocos,MU,78.10,overcast clouds,-20.2078,57.7625,Sunrise Attitude Hotel

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.
# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)

# Assign marker
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)

# Add the layers
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))